.movieListItem {
    width: 300px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform var(--transition), box-shadow var(--transition);
}

.movieListItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

.movieListItemImg {
    width: 100%;
    height: 78%;
    object-fit: cover;
}

.movieListItemTitle {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin-top: 10px;
}